@model AWW.Models.SubscribersViewModel
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

       @using (Ajax.BeginForm("SubscribeNewsletter", "Common", new AjaxOptions() { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "onSuccess" }, new {@class = "form-inline" }))
       {
        <div class="form-group">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id= "email-quotation", @placeholder = @DefaultResource.EmailPlaceholder, @type = "email", required = true, @validationMessage = "Please enter email address" })
            @Html.Hidden("returnUrl", this.Request.RawUrl)
        </div>
        <button type="submit" class="btn btn-default">@DefaultResource.Subscribebtn</button>

        <span id="result" />
        }




<script>

    function onSuccess() {
        $("#email-quotation").val('');
        if (result.ok) {
            window.location.reload(true);
        }
      
    }
</script>