
@{
    ViewBag.Title = "About";
}

<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb">

        @*<li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active"><a href="@Url.Action("About", "Home")">About Us</a></li>*@
    </ol>
</div>
<!-- end breadcrumb -->
<!--  about -->
<div id="about" class="about-main-block mrg-btm">

    <div class="container">
        <div class="section">
            <h3 class="section-heading">Our <span>Story</span></h3>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-sm-7 col-md-5">
                <div class="about-block">
                    <h2 class="middle-heading">We are the <span>leaders</span></h2>
                    <p>
                        AWW is the fastest growing manufacturer and exporter of globalize competitive wet wipes products. Our product range from personal care, household, institutional and industrial wet wipes applications. AWW is the exporter of wet wipes and private labels to Kuwait and Saudi Arabia. Our products were solely manufactured in SAIF – Zone and locally monopolized the distribution of wet wipes products in the entire U. A. E.

                        It is our utmost desire to give comfort and luxuries to our valued customers in affordable way. AWWIQ management and staff merge their knowledge and abilities to create competitive wet wipes product.
                        We have chosen the most elegant and luxurious perfumes to match every person style and taste. And we continue to partner with our retailers and distributors to address consumers need.
                    </p>
                </div>
                <div class="about-facts">
                    <div class="row">
                        <div class="col-xs-4 col-md-5">
                            <h2 class="counter">318</h2>
                            <p>Clients</p>
                        </div>
                        <div class="col-xs-4 col-md-5">
                            <h2 class="counter">4021</h2>
                            <p>Members</p>
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <h2 class="counter">28</h2>
                            <p>Awards</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-sm-4 col-md-4">
                <div class="about-dtl-img img-top">
                    <img src="~/Content/images/about-image.png" class="img-responsive" alt="about">
                </div>
            </div>

        </div>
    </div>
    
    <div class="container">
        <div class="col-sm-6 col-md-12 col-xs-6">





            <div class="col-sm-6 col-md-7 col-xs-12">

                <h3 class="section-heading">Our <span>Mission</span></h3>

                <p>AWW understand of nowadays need and strive much to gratify consumers of crushy and economical products.</p>

            </div>
            <div class="col-sm-6 col-md-4 col-xs-12 ">
                <img src="~/Content/images/aboutus2.png" class="img-responsive" alt="about" style="margin-top:90px" />
            </div>



        </div>
    </div>
        <div class="container">
            <div class="section">
                <h3 class="section-heading">Our <span>Vision</span></h3>
                <p>This mainly include make-up remover, feminine wipe hand sanitizer, wet wipes of different flavours, refreshing towels and restaurant wipes in the form of retail and wholesale and with customized label and design satisfying client interest and requirment with creative approach towards innovation and leading concepts.</p>
            </div>



        </div>


    </div>
<!--  end about -->
