
@{
    ViewBag.Title = "Contact";
}

<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="contact.html">Contact</a></li>
    </ol>
</div>
<!-- end breadcrumb -->
<!-- contact -->
<div id="contact-page" class="contact-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">Contact <span>Us</span></h3>
        </div>
        <div class="row">
            <div class="contact-dtl">
                <div class="col-xs-offset-1 col-md-11">
                    <h2 class="middle-heading">Contact-details</h2>
                </div>
                <div class="col-xs-offset-1 col-md-4">
                    <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                    <h6 class="contact-heading">Address</h6>
                    <p>John Doe, Comapny Inc. 12345 South <br />Main Street Anywhere, USA</p>
                </div>
                <div class="col-xs-offset-1 col-md-offset-0 col-md-4">
                    <div class="contact-icon"><i class="fa fa-envelope"></i></div>
                    <h6 class="contact-heading">Email</h6>
                    <p>Email: <a href="../../cdn-cgi/l/email-protection.htm" class="__cf_email__" data-cfemail="c1a8afa7aeaca0a8adaca481b1b3a8afb5aea6b3a0acefa2aeac">[email&#160;protected]</a> <br />Web: www.printogram.com</p>
                </div>
                <div class="col-xs-offset-1 col-md-offset-0 col-md-3">
                    <div class="contact-icon"><i class="fa fa-phone-square"></i></div>
                    <h6 class="contact-heading">Phone</h6>
                    <p>Phone: +91-1.800.555.6789 <br />Fax: +91-1.800.555.6789</p>
                </div>
            </div>
        </div>
        <div class="row quote-row">
            <div class="contact-form">
                <div class="col-xs-offset-1 col-md-11">
                    <h2 class="middle-heading">Get in touch</h2>
                </div>
                <div class="col-xs-offset-1 col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-name" placeholder="Enter your name...">
                    </div>
                </div>
                <div class="col-xs-offset-1 col-md-offset-0 col-md-4">
                    <div class="form-group">
                        <input type="email" class="form-control" id="contact-email" placeholder="youremail@email.com">
                    </div>
                </div>
                <div class="col-xs-offset-1 col-md-offset-0 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-sub" placeholder="Subject (Optional)">
                    </div>
                </div>
                <div class="col-xs-offset-1 col-md-11">
                    <div class="form-group">
                        <textarea placeholder="Product detail" rows="8"></textarea>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-md-11 quote-btn">
                    <a href="contact.html#" class="btn btn-default">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
<!-- map -->
<div id="location" class="map-location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14424.256961061288!2d55.481551436356796!3d25.33562528518589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef5f5e36cfa2cc7%3A0x11f502f4edb88468!2sSaif+Zone+-+Sharjah+-+United+Arab+Emirates!5e0!3m2!1sen!2sin!4v1518000970648" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
<!-- end map -->
<script>
  jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14424.256961061288!2d55.481551436356796!3d25.33562528518589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef5f5e36cfa2cc7%3A0x11f502f4edb88468!2sSaif+Zone+-+Sharjah+-+United+Arab+Emirates!5e0!3m2!1sen!2sin!4v1518000970648";
    document.body.appendChild(script);
  });
  function initialize(){
    var myLatLng = {lat: 25.3500, lng: 74.6333}; // Insert Your Latitude and Longitude
    var mapCanvas = document.getElementById('location');
    var mapOptions = {
      center: myLatLng,
      zoom: 15,
      disableDefaultUI: true,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
    var image = 'images/logo-footer.png'; // Set Your Icon / Logo Path
    var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image
    });
  }
</script>