
@{
    ViewBag.Title = "Index";
}

<div id="blog-page" class="blog-main-block mrg-btm">
    <div class="container">
        <div class="section">
            <h3 class="section-heading">LATEST NEWS <span> & UPDATES</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news.jpg" class="img-responive" alt="blog1">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="blog-single.html"><h6 class="post-heading">A Beautiful View</h6></a>
                        <div class="post-date">
                            <ul>
                                <li>November 25, 2016</li>
                             
                             
                            </ul>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news-1.jpg" class="img-responive" alt="blog2">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="blog-single.html"><h6 class="post-heading">A Beautiful View</h6></a>
                        <div class="post-date">
                            <ul>
                                <li>November 25, 2016</li>
                           
                            </ul>
                        </div>
                        <p>Vestibulum ac diam sit amet quam vehicu la elem entum sed sit amet dui.Vestibulum ac diam sit amet quam vehicu la elem entum sed sit amet duiVestibulum ac diam sit amet quam vehicu la elem entum sed sit amet duiVestibulum ac diam sit amet quam vehicu la elem entum sed sit amet duiVestibulum ac diam sit amet quam vehicu la elem entum sed sit amet duiVestibulum ac diam sit amet quam vehicu la elem entum sed sit amet duiVestibulum ac diam sit amet quam vehicu la elem entum sed sit amet dui</p>
                    </div>
               
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-img">
                        <img src="~/Content/images/products/news.jpg" class="img-responive" alt="blog3">
                        <div class="gradient-overlay"></div>
                    </div>
                    <div class="blog-dtl">
                        <a href="blog-single.html"><h6 class="post-heading">A Beautiful View</h6></a>
                        <div class="post-date">
                            <ul>
                                <li>November 25, 2016</li>
                        
                            </ul>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
           
                </div>
            </div>
            
        </div>
        
    </div>
</div>
